/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'fontnomas';
  src: url("../font/fontomas-webfont.eot");
  src: url("../font/fontomas-webfont.eot?#iefix") format("embedded-opentype"), url("../font/fontomas-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url("../font/DroidSans-webfont.eot");
  src: url("../font/DroidSans-webfont.eot?#iefix") format("embedded-opentype"), url("../font/DroidSans-webfont.woff") format("woff"), url("../font/DroidSans-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DroidSans';
  src: url("../font/DroidSans-Bold-webfont.eot");
  src: url("../font/DroidSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../font/DroidSans-Bold-webfont.woff") format("woff"), url("../font/DroidSans-Bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/* line 4, src/iframe_doc.scss */
html::-webkit-scrollbar {
  display: none;
}

/* line 7, src/iframe_doc.scss */
body {
  color: #555;
  font-family: DroidSans;
  font-size: 18px !important;
  margin: 0 auto;
  outline: none;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 100%;
  height: auto;
  line-height: 1.6em;
  word-wrap: break-word;
  padding: 3.65em 1.6em 1.6em !important;
  background-image: -webkit-linear-gradient(#eeeeee 0.05em, transparent 0.05em) !important;
  background-size: 100% 1.6em;
  box-sizing: border-box !important;
}
/* line 29, src/iframe_doc.scss */
body img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

/* line 37, src/iframe_doc.scss */
* {
  font-family: DroidSans !important;
  background: transparent !important;
  font-size: 1em !important;
  color: #555 !important;
  padding: 0 !important;
  margin-right: 0!important;
  margin-top: 0!important;
  margin-bottom: 0!important;
  border: none !important;
  font-weight: normal !important;
  line-height: 1.6em !important;
}

/* line 52, src/iframe_doc.scss */
strong, b {
  font-weight: bold !important;
}

/* line 55, src/iframe_doc.scss */
u {
  text-decoration: underline;
}

/* line 58, src/iframe_doc.scss */
i {
  font-style: italic;
}

/* line 61, src/iframe_doc.scss */
ul {
  list-style: disc !important;
  list-style-position: inside !important;
}
/* line 64, src/iframe_doc.scss */
ul li {
  list-style: disc !important;
  list-style-position: inside !important;
}

/* line 69, src/iframe_doc.scss */
ol {
  list-style: decimal !important;
  list-style-position: inside !important;
}
/* line 72, src/iframe_doc.scss */
ol li {
  list-style: decimal !important;
  list-style-position: inside !important;
}
