/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'symbol';
  src: url("../font/websymbols-regular-webfont.eot");
  src: url("../font/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../font/websymbols-regular-webfont.woff") format("woff"), url("../font/websymbols-regular-webfont.ttf") format("truetype"), url("../font/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 1, src/_general.scss */
[draggable] {
  -webkit-user-select: none;
  user-select: none;
}

/* line 5, src/_general.scss */
html {
  font-family: sans-serif;
  font-size: 16px;
  background: #000000;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #3A3533;
  max-width: 450px;
}

/* line 21, src/_general.scss */
html::-webkit-scrollbar {
  display: none;
}

/* line 24, src/_general.scss */
iframe::-webkit-scrollbar {
  display: none;
}

/* line 28, src/_general.scss */
body {
  height: 100%;
  padding: 0 0 0 32px;
  margin: 0;
  -moz-box-shadow: 3px 0 20px #111111;
  -webkit-box-shadow: 3px 0 20px #111111;
  -o-box-shadow: 3px 0 20px #111111;
  box-shadow: 3px 0 20px #111111;
  background: white;
}

/* line 36, src/_general.scss */
#textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #888;
  display: block;
  font-family: "Droid Sans", sans-serif;
  margin: 0 auto;
  outline: none;
  padding: 0;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  min-height: 100%;
  height: auto;
  line-height: 1.6em;
}
/* line 53, src/_general.scss */
#textarea img {
  display: block;
}

/* line 58, src/_general.scss */
#status {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 10px 15px;
  color: #333;
  background-color: #DDD;
  font-size: 14px;
  opacity: 0;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 500ms;
  z-index: 99;
}
/* line 71, src/_general.scss */
#status.show {
  opacity: 1;
}
/* line 74, src/_general.scss */
#status.hide {
  -webkit-transition-delay: 5s;
  opacity: 0;
}

/* line 80, src/_general.scss */
.shortcuts, .about, .data-output {
  text-align: left;
}
/* line 83, src/_general.scss */
.shortcuts h1, .about h1, .data-output h1 {
  margin-bottom: 1.3em;
  font-size: 1.2em;
  font-weight: normal;
}
/* line 88, src/_general.scss */
.shortcuts textarea, .about textarea, .data-output textarea {
  width: 290px;
  height: 145px;
  border: 2px dotted #DDD;
  padding: 10px;
  box-sizing: border-box;
}

/* line 1, src/_menu.scss */
#menu {
  position: fixed;
  text-decoration: none;
  padding: 0;
  width: 32px;
  background: #3a3533;
  top: 0;
  left: 0;
  height: 100%;
  text-align: center;
  padding: 0;
  z-index: 9;
}
/* line 14, src/_menu.scss */
#menu li {
  position: relative;
}
/* line 17, src/_menu.scss */
#menu li .index {
  position: relative;
  z-index: 1;
  font-family: symbol;
  font-size: 18px;
  color: #7a7573;
  display: inline-block;
  padding-top: 7px;
}
/* line 26, src/_menu.scss */
#menu li .items {
  overflow: hidden;
  font-size: 13px;
  top: -1000px;
  background-color: #fff;
  position: absolute;
  border: 1px solid #ddd;
  z-index: 9;
  color: #777;
  width: 160px;
  left: 100%;
  text-align: left;
  opacity: 0;
  top: 0px;
  height: 0;
  -webkit-transition-property: all;
  -webkit-transition-duration: 300ms;
}
/* line 49, src/_menu.scss */
#menu li:hover {
  cursor: default;
  z-index: 3;
}
/* line 52, src/_menu.scss */
#menu li:hover .index {
  color: #cac5c3;
}
/* line 55, src/_menu.scss */
#menu li:hover .items {
  /*height: 300px;*/
  opacity: 1;
  height: auto;
}
/* line 63, src/_menu.scss */
#menu li li {
  list-style: none;
  padding: 5px 50px 5px 5px;
  margin: 0;
  font-family: sans-serif;
  cursor: pointer;
  position: relative;
  width: 160px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 73, src/_menu.scss */
#menu li .dragging {
  cursor: move;
  opacity: 0.5;
}
/* line 77, src/_menu.scss */
#menu li .option {
  color: #ddd;
}
/* line 80, src/_menu.scss */
#menu li li:hover {
  color: #fff;
  background: #abced4;
}
/* line 84, src/_menu.scss */
#menu li li:hover .option {
  color: #fff;
}
/* line 87, src/_menu.scss */
#menu li li:hover .delete:hover {
  color: #ee8888;
}
/* line 90, src/_menu.scss */
#menu li li:hover .rename:hover {
  color: #6688aa;
}
/* line 94, src/_menu.scss */
#menu li .delete {
  position: absolute;
  right: 5px;
  padding: 5px;
  top: 0;
}
/* line 100, src/_menu.scss */
#menu li .rename {
  position: absolute;
  right: 20px;
  padding: 5px;
  top: 0;
  font-family: symbol;
  font-size: 11px;
}
/* line 109, src/_menu.scss */
#menu li #newnote {
  background: #aaa;
  color: white;
}
/* line 113, src/_menu.scss */
#menu li #newnote:hover {
  background: #abced4;
}
/* line 116, src/_menu.scss */
#menu li #newnote .option {
  position: absolute;
  right: 5px;
  padding: 5px;
  top: 0;
  color: white;
  -webkit-transform-origin: 50% 50%;
  -webkit-transform: rotate(45deg);
}
/* line 126, src/_menu.scss */
#menu li .over {
  border-top: 1.8em solid #ccc;
}

/* line 1, src/_modal.scss */
#modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition-duration: 300ms;
  -webkit-transition-properties: all;
}
/* line 13, src/_modal.scss */
#modal.show {
  height: 100%;
  opacity: 1;
}
/* line 19, src/_modal.scss */
#modal .back {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 28, src/_modal.scss */
#modal .container {
  padding: 40px 30px;
  margin: 30px auto;
  background: white;
  -webkit-box-shadow: 0 0 15px #ccc;
  position: relative;
  max-width: 300px;
}
/* line 36, src/_modal.scss */
#modal .container .close {
  position: absolute;
  top: 0;
  right: 0;
  color: #ee8888;
  background: transparent;
  border: none;
  font-size: 1.2em;
  opacity: 0.8;
  cursor: pointer;
}
/* line 47, src/_modal.scss */
#modal .container .close:hover {
  opacity: 1;
}
/* line 51, src/_modal.scss */
#modal .container .content {
  overflow: auto;
  max-height: 322px;
  padding-bottom: 10px;
}
/* line 58, src/_modal.scss */
#modal .prompt, #modal .confirm, #modal .alert {
  color: #666;
  font-size: 14px;
  text-align: center;
}
/* line 63, src/_modal.scss */
#modal .prompt .message, #modal .confirm .message, #modal .alert .message {
  margin-bottom: 1.4em;
  font-weight: 100;
  line-height: 1.2em;
}
/* line 68, src/_modal.scss */
#modal .prompt .text, #modal .confirm .text, #modal .alert .text {
  padding: 6px 10px;
  margin: 0 auto 0.8em;
  border: 1px solid #ddd;
}
/* line 73, src/_modal.scss */
#modal .prompt button, #modal .confirm button, #modal .alert button {
  background: #ddd;
  color: #555;
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 13px;
}
/* line 81, src/_modal.scss */
#modal .prompt .ok, #modal .confirm .ok, #modal .alert .ok {
  margin-right: 15px;
}
