@font-face {
    font-family: 'symbol';
    src: url('../font/websymbols-regular-webfont.eot');
    src: url('../font/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/websymbols-regular-webfont.woff') format('woff'),
         url('../font/websymbols-regular-webfont.ttf') format('truetype'),
         url('../font/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal; 
}