//colors
$blue: rgba(0,0,0,0.75);
$blue-dark: #0F7DD6;
$red: rgba(200, 35, 35, 0.9);

$bg: #3A3533;
$inactive: #999;
$active: #ddd;

$font: 'Droid Sans', sans-serif;
//$font: 'Nobile', sans-serif;
//$font: 'Actor', sans-serif;