//colors
$blue: #ABCED4;
$blue-dark: #6688aa;
$red: #ee8888;

$bg: #3A3533;
$inactive: #7A7573;
$active: #cAc5c3;

$font: 'Droid Sans', sans-serif;
//$font: 'Nobile', sans-serif;
//$font: 'Actor', sans-serif;