@font-face {
    font-family: 'fontnomas';
    src: url('../font/fontomas-webfont.eot');
    src: url('../font/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/fontomas-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'DroidSans';
    src: url('../font/DroidSans-webfont.eot');
    src: url('../font/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSans-webfont.woff') format('woff'),
         url('../font/DroidSans-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'DroidSans';
    src: url('../font/DroidSans-Bold-webfont.eot');
    src: url('../font/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/DroidSans-Bold-webfont.woff') format('woff'),
         url('../font/DroidSans-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'IcoMoon';
    src: url('../font/icomoon.eot');
    src: url('../font/icomoon.eot?#iefix') format('embedded-opentype'),
        url('../font/icomoon.svg#IcoMoon') format('svg'),
        url('../font/icomoon.woff') format('woff'),
        url('../font/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.icon-b:before, .icon-a:after {
    font-family: 'IcoMoon';
    content: attr(data-icon);
}



// Cantarell-BoldOblique.ttf
// Cantarell-Oblique.ttf
